image: ubuntu:22.04

stages:
  - build_run_containers_and_test

build_run_containers_and_test:
  stage: build_run_containers_and_test
  only:
    - main
  before_script:
    - apt update -y && && apt install docker.io && apt install docker-compose -y
    - systemctl start docker
    - chmod +x tests.sh
  script:
    - echo " ************** Debut *************"
    - sh tests.sh
    - echo " ************** Fin *************"



