image: ubuntu:22.04

default:
  tags:
    - docker_build
    - docker_ci_build
    - docker_image
stages:
  - build_run_containers_and_test

build_run_containers_and_test:
  stage: build_run_containers_and_test
  only:
    - main
  before_script:
    - apt update -y &&  apt install docker-compose -y
    - chmod +x tests.sh
  script:
    - echo " ************** Debut *************"
    - sh tests.sh
    - echo " ************** Fin *************"



