image: docker:24.0.5

services:
   - docker:24.0.5-dind

variables:
  COMPOSE_PROJECT_NAME: apprentissage_docker
  DOCKER_TLS_CERTDIR: "" # Nécéssaire pour faire du dind

default:
  tags:
    - docker_daemon

stages:
  - build_run_containers_and_test

build_run_containers_and_test:
  stage: build_run_containers_and_test
  when: on_success
  only:
    - main
  before_script:
    - chmod +x $CI_PROJECT_DIR/ci/run.sh
  script:
    - echo " Je vais lancer les conteneurs "
    - docker-compose up -d
    - echo " Lancement fini "
    - echo "voici les conteneurs"
    - docker ps -a
    - echo " Lancement des tests "
    - cd $CI_PROJECT_DIR/ci
    - ls -l
    - cd ..
    - ls -l
    - echo " J'éteins les conteneurs "
    - docker-compose down -v


